:root {
    --card-width: 320px;
    --card-height: 450px;

    --app-width: 1200px;
    --app-width-small: 800px; /* Model descriptions are formatted to fit 800px width */

    --radius: 8px;
}

html {
    --c-shadow: #00000061;
    --c-error: #df3d3d;
    --c-error-alt: #801a1a;
    --c-success: #3bb93b;
    --c-success-alt: #197a19;
    --c-warning: #ffa500;
    --c-warning-alt: #854900;

    --c-nsfw-soft: #4a3c2f;
    --c-nsfw-mature: #805932;
    --c-nsfw-x: #b13a3a;
    --c-nsfw-xxx: #e60000;

    --c-border: #363636;
    --c-border-active: #5b5b5b;

    --c-bg-body: #0a0a0a;
    --c-bg-darker: #141414;
    --c-bg-dark: #1e1e1e;
    --c-bg: #282828;
    --c-bg-light: #323232;
    --c-bg-lighter: #3c3c3c;

    --c-text-darker: #999;
    --c-text-dark: #bbb;
    --c-text: #ddd;
    --c-text-light: #fff;

    --c-marktext: var(--c-text, marktext);
    --c-mark: var(--c-main, mark);

    --c-main: #0095ff;
    --c-main50: #0095ff80;
    --c-main20: #0095ff33;

    --c-main-bg: var(--c-main20);
    --c-main-text: var(--c-main);

    --c-modelEarlyAccess: #a97c09;
    --c-modelNew: #0095ff;
    --c-modelUpdated: #00a674;
}

@media (prefers-color-scheme: light) {
    html:not([color-scheme="dark"]) {
        --c-error: #bf1e1e;
        --c-error-alt: #ff5353;
        --c-success: #2fa02f;
        --c-success-alt: #6bff6b;
        --c-warning: #b47500;
        --c-warning-alt: #ffa537;

        --c-nsfw-soft: #ffe4b5;
        --c-nsfw-mature: #ffb347;
        --c-nsfw-x: #ff5e5e;
        --c-nsfw-xxx: #8b0000;

        --c-border: #c0c0c0;
        --c-border-active: #999999;

        --c-bg-body: #fff;
        --c-bg-darker: #ddd;
        --c-bg-dark: #fff;
        --c-bg: #eee;
        --c-bg-light: #ccc;
        --c-bg-lighter: #bbb;

        --c-text-darker: #727272;
        --c-text-dark: #393939;
        --c-text: #000;
        --c-text-light: #000;

        --c-modelEarlyAccess: #f2b210;
        --c-modelNew: #38acff;
        --c-modelUpdated: #2ce0aa;
    }
}

@supports (color: color-mix(in oklab, #fff, #000)) {
    html {
        --c-main-bg: color-mix(in oklab, var(--c-main, #0095ff), var(--c-bg) 55%);
        --c-main-text: color-mix(in oklab, var(--c-main, #0095ff), var(--c-text) 30%);
    }

    .meta-resource-weight[data-weight=">0"] {
        color: color-mix(in oklab, var(--c-success), var(--c-text) 60%);
    }

    .meta-resource-weight[data-weight="<0"] {
        color: color-mix(in oklab, var(--c-warning), var(--c-text) 60%);
    }

    .weight-container[data-weight-direction="up"] {
        --c-bracket: color-mix(in oklab, var(--c-success) var(--weight-strength, 1%), var(--c-text-darker));
    }

    .weight-container[data-weight-direction="down"] {
        --c-bracket: color-mix(in oklab, var(--c-warning) var(--weight-strength, 1%), var(--c-text-darker));
    }
    .weight-container[data-weight-direction="down"][data-weight-level="high"] {
        --c-bracket: color-mix(in oklab, var(--c-error) var(--weight-strength, 1%), var(--c-text-darker));
    }

    .card .badge {
        background-color: color-mix(in srgb, var(--c-bg), transparent 30%);
    }

    .card .badge[data-value="0"] {
        background-color: color-mix(in srgb, var(--c-bg-dark), transparent 50%);
    }

    .card .badge.image-nsfw-level {
        background-color: color-mix(in srgb, var(--c-nsfw-level), transparent 30%);
    }

    .card .badge.model-type {
        background-color: color-mix(in srgb, var(--c-bg), transparent 20%);
    }
}

@property --progress {
    syntax: "<length-percentage>";
    inherits: true;
    initial-value: 0%;
}

:root::view-transition-group(*) {
    animation-duration: calc(var(--duration-multiplier, 1) * var(--duration, 200ms));
    animation-timing-function: ease-in-out;
}

:focus-visible {
    outline: 1px solid var(--c-main-text, #63adf7) !important;
}

html {
    color-scheme: dark light;
    overflow-x: clip;
    overflow-y: scroll;
    background: var(--c-bg-body);
}

body {
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: var(--font-family);
    margin: 0;
    background: var(--c-bg-body);
    color: var(--c-text);
}

video,
img {
    line-height: 1;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
}

img {
    user-select: none;
    pointer-events: none;
    object-fit: cover;
}

blockquote {
    border-inline-start: 4px solid var(--c-main, #0095ff);
    padding-block-start: .5em;
    padding-block-end: .5em;
    padding-inline-start: 1em;
    padding-inline-end: 0;
    margin-inline-start: 2em;
    margin-inline-end: 2em;
    margin-block: 1em;
}

blockquote blockquote:first-child {
    margin-block-start: 0;
}

blockquote blockquote:last-child {
    margin-block-end: 0;
}

blockquote blockquote {
    margin-inline-start: .5em;
}

mark {
    border-radius: .15em;
    box-decoration-break: clone;
}

p {
    margin-block: .75em;
}

pre {
    margin-block: .5em;
}

code {
    font-family: monospace;
    padding-block: .25em;
    padding-inline: .5em;
    line-height: 1;
    white-space: nowrap;
    background-color: var(--c-bg-light);
    border-radius: var(--radius);
    box-decoration-break: clone;
}

code.code-block,
pre > code {
    padding: 1em;
    white-space: pre-line;
    display: block;
}

table {
    border-spacing: 1px;
}

table.tooltip-table-only td,
table.tooltip-table-only {
    border: none;
    outline: none;
    border-collapse: collapse;
}

table.tooltip-table-only td {
    padding: .25em;
    padding-inline: .5em;
}

table.tooltip-table-only tr:not(:last-child) {
    border-bottom: 1px solid var(--c-border);
}

table.tooltip-table-only td:not(:last-child) {
    border-right: 1px solid var(--c-border);
}

th, td {
    padding: .5em;
    outline: 1px solid var(--c-border);
}

th {
    background-color: var(--c-bg);
}

p, ol, ul, li, td {
    color: var(--c-text);
}

ol, ul {
    line-height: 1.5em;
    padding-inline-start: 2em;
}

ol:only-child,
ul:only-child {
    margin: 0;
    padding-inline-start: 1.5em;
}

li::marker {
    color: var(--c-text-darker);
}

th {
    color: var(--c-text-light);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--c-text-light);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5ch;
}

a {
    color: inherit;
    cursor: pointer;
    display: inline;
    border-radius: 2px;
    text-decoration: none;
    transition: .1s ease-in;
}

a.selected,
a:hover,
a:focus-visible {
    color: var(--c-main-text, #63adf7);
    text-decoration: underline;
    transition: .1s ease-out;
}

a:focus-visible {
    text-decoration: none;
}

a[href]:not([href^="#"])::after {
    content: '🡥';
    display: inline-block;
    font-size: .9em;
    line-height: 1;
    margin-left: 2px;
    transform: translateY(-0.25em);
}

.badge,
.link-button {
    text-decoration: none !important;
    cursor: pointer;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

details summary {
    margin-block-end: .5em;
}

textarea,
input,
button {
    border: none;
    background: none;
    color: var(--c-text);
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    font-family: var(--font-family);
    accent-color: var(--c-main-text);
    border-radius: var(--radius);
}

input:invalid {
    background-color: var(--c-error-alt);
    border-color: var(--c-error);
}

::placeholder {
    color: var(--c-text-dark);
    font-family: var(--font-family);
}

hr {
    border: 2px solid var(--c-text-darker);
    border-radius: 2px;
    opacity: .6;
}

button {
    cursor: pointer;
    color: var(--c-text-light);
    background-color: var(--c-bg);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5ch;
    padding: .5em;
    transition: background-color .1s ease-out, color .1s ease-out;
}

button:focus-visible,
button:hover {
    background-color: var(--c-bg-lighter);
    color: var(--c-text-light);
}

body.cursor-resize-to-top                   { cursor: n-resize }       /*  ⬆     */
body.cursor-resize-to-right                 { cursor: e-resize }       /*  ➡    */
body.cursor-resize-to-bottom                { cursor: s-resize }       /*  ⬇     */
body.cursor-resize-to-left                  { cursor: w-resize }       /*  ⬅    */
body.cursor-resize-to-top-right             { cursor: ne-resize }      /*  ↗     */
body.cursor-resize-to-top-left              { cursor: nw-resize }      /*  ↖     */
body.cursor-resize-to-bottom-right          { cursor: se-resize }      /*  ↘     */
body.cursor-resize-to-bottom-left           { cursor: sw-resize }      /*  ↙     */
body.cursor-resize-to-right-left            { cursor: ew-resize }      /*  ⬅➡   */
body.cursor-resize-to-top-bottom            { cursor: ns-resize }      /*  ⬆⬇    */
body.cursor-resize-to-top-right-bottom-left { cursor: nesw-resize }    /*  ↗↙    */
body.cursor-resize-to-top-left-bottom-right { cursor: nwse-resize }    /*  ↖↘    */
body.cursor-resize-col                      { cursor: col-resize }     /*  ⬅|➡  */
body.cursor-resize-row                      { cursor: row-resize }     /*  ⬆|⬇    */

body.prevent-all::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 99999;
}


::-webkit-scrollbar {
    background: none;
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--c-bg-lighter);
    border-radius: 3px;
    transition: .1s;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background-color: var(--c-text-darker);
}

.media-container {
    display: block;
}

.media-container img,
.media-container video {
    display: block;
}

.error-text {
    color: var(--c-error);
}

.icon {
    display: block;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    width: 1em;
    height: 1em;
    line-height: 1em;
    margin: 0 !important;
}

.icon ellipse,
.icon rect,
.icon line,
.icon circle,
.icon polyline,
.icon polygon,
.icon path {
    stroke: var(--icon-color-stroke, none);
    fill: var(--icon-color-fill, none);
}

.icon use {
    pointer-events: none;
}

.icon [c-accent] {
    --icon-color-stroke: var(--icon-color-secondary, var(--c-main-text, currentColor));
}
.icon [c-text] {
    --icon-color-stroke: var(--icon-color-primary, currentColor);
}

.icon [c-accent][c-fill] {
    --icon-color-fill: var(--icon-color-secondary, var(--c-main-text, currentColor));
    --icon-color-stroke: none;
}
.icon [c-text][c-fill] {
    --icon-color-fill: var(--icon-color-primary, currentColor);
    --icon-color-stroke: none;
}

.cards-loading,
.page-loading {
    opacity: .5;
    pointer-events: none;
    user-select: none;
    transition: 144ms 72ms ease-out;
}

.cards-loading::before,
.page-loading::before {
    content: '';
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background-image: linear-gradient(90deg, transparent 30%, var(--c-main), transparent 70%);
    background-size: 100%;
    background-position-x: calc(-1 * min(600px, 100vw));
    background-repeat: no-repeat;
    inset-inline: 0;
    inset-block-start: 1em;
    max-width: var(--app-width);
    margin: 0 auto;
    animation: pageloading-bar-fadeIn .4s linear 1, pageloading-bar 2s .4s ease-in-out infinite;
}

.page-loading .cards-loading::before {
    display: none;
}

@keyframes pageloading-bar {
    0% { background-position-x: calc(-1 * min(600px, 100vw)); }
    50% { background-position-x: min(600px, 100vw); }
    100% { background-position-x: calc(-1 * min(600px, 100vw)); }
}

@keyframes pageloading-bar-fadeIn {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    padding: 12px 20px;
    background: var(--c-bg-dark);
    color: var(--c-text-light);
    border-radius: var(--radius);
    margin: 1em auto;
    width: var(--app-width);
    max-width: calc(100vw - 40px);
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 1.25em;
    color: var(--c-text-light);
    justify-content: center;
    text-wrap: nowrap;
}

header h1 .logo {
    pointer-events: none;
}

header h1 .logo path[c-text] {
    fill: var(--c-text);
}

header h1 .logo path[c-accent] {
    fill: var(--c-main-text);
}

nav ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: .5em;
}

nav ul.menu li a {
    display: flex;
    flex-wrap: nowrap;
    gap: .5em;
    padding-inline: .5em;
    padding-block: .25em;
    border-radius: var(--radius);
    text-decoration: none;
    color: var(--c-text-dark);
    background-color: transparent;
    transition: background-color .1s ease-out, color .1s ease-out;
}

nav ul.menu li a:focus-visible,
nav ul.menu li a:hover {
    background-color: var(--c-bg-light);
    color: var(--c-text-light);
}

nav ul.menu li a:focus-visible {
    outline: 1px solid var(--c-main) !important;
}

nav ul.menu li a.active {
    background: var(--c-bg-lighter);
    color: var(--c-main-text);
    position: relative;
}

nav ul.menu li a.active::after {
    content: '';
    position: absolute;
    background-color: var(--c-main);
    border-radius: 2px;
    height: 4px;
    inset-inline: var(--radius);
    inset-block-end: 0;
}

nav ul.menu li a span,
nav ul.menu li a .icon {
    font-size: 1em;
    display: inline;
    pointer-events: none;
}

footer {
    position: fixed;
    bottom: .5em;
    inset-inline: 0;
    width: var(--app-width);
    max-width: calc(100vw - 1em);
    color: var(--c-text-dark);
    margin: 0 auto;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    content-visibility: auto;
    contain: content;
    gap: 2em;
    transition: transform .2s ease-out, opacity .1s ease-out, visibility 0s;
    background-color: var(--c-bg-dark);
    border-radius: var(--radius);
    opacity: 1;
    visibility: visible;
}

.page-scrolled footer {
    transform: translateY(120%);
    transition: transform .2s ease-in, opacity .1s .1s ease-in, visibility 0s .2s;
    opacity: 0;
    visibility: hidden;
}

footer p {
    margin: 0;
    text-align: center;
}

footer a {
    transition: color .1s ease-in;
}

#error-timeout {
    position: absolute;
    inset-block-start: 100%;
    inset-inline-end: 0;
    line-height: 1;
    padding: .5em;
    color: var(--c-error);
    border: 1px solid var(--c-error-alt);
    font-weight: 600;
    z-index: 9999;
    background-color: var(--c-bg);
    border-radius: var(--radius);
    max-width: 40em;
}

#language-toggle {
    position: relative;
    font-weight: 900;
    --r: 7em;
}

#language-button {
    width: 2em;
    height: 2em;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 272;
}

#language-list {
    visibility: visible;
    position: absolute;
    height: 4em;
    width: 6em;
    top: -1em;
    left: -2em;
    padding: 0;
    margin: 0;
    opacity: 1;
}

#language-list.hidden {
    visibility: hidden;
    transition: all 0s linear, visibility 0s .2s linear;
}

#language-list li {
    position: absolute;
    height: 4em;
    width: 6em;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    list-style: none;
    transform-origin: center;
    transform: rotate(calc(-180deg / var(--count) * var(--num)))
               translate(var(--r))
               rotate(calc(180deg / var(--count) * var(--num)));
    transition: box-shadow .4s ease-out, background-color .4s ease-out, scale .2s calc(var(--num, 0) * 0.05s) cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: var(--radius);
    scale: 0;
}

#language-list li img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#language-list li button {
    color: #fff;
    text-shadow: 0 0 4px #000;
    cursor: pointer;
    background: none;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
}

#language-list li button:focus-visible,
#language-list li button:hover {
    transition: .1s ease-in;
    box-shadow: 0 0 16px 2px var(--c-main);
}

#language-list li.active {
    color: var(--c-main-text);
}

#language-list li.active::after {
    content: '';
    position: absolute;
    background-color: var(--c-main);
    border-radius: 2px;
    height: 4px;
    inset-inline: var(--radius);
    inset-block-end: 0;
}

#language-list:not(.hidden) li {
    scale: 1;
}

#language-list.hidden li {
    scale: 0;
    pointer-events: none;
    user-select: none;
}

.error-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
}

.error-block img {
    width: 256px;
    height: 256px;
}

.list-filters {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: .5em;
    padding-inline: .5em;
    color: var(--c-text-light);
    border-radius: var(--radius);
    margin: 1em auto;
    width: var(--app-width);
    max-width: calc(100vw - 1em);
    position: relative;
    z-index: 272;
}

.list-filter {
    border-radius: var(--radius);
    text-decoration: none;
    text-wrap: nowrap;
}

#app {
    margin-block-end: 6em;
    transition: 0s;
    overflow-x: clip;
}

#app .app-content {
    padding-inline: 1em;
    max-width: min(var(--app-width), calc(100vw - 2em));
    margin: 0 auto;
}

#app .app-content-wide {
    max-width: 100vw;
    padding-inline: 1em;
    box-sizing: border-box;
}

#tooltip {
    position: fixed;
    pointer-events: none;
    padding-inline: 12px;
    padding-block: 6px;
    z-index: 9999;
    box-sizing: border-box;
    background-color: var(--c-bg);
    border: 1px solid var(--c-border);
    border-radius: var(--radius);
    box-shadow: 2px 2px 4px #0003;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: none;
    transform-origin: center center;
    max-width: 350px;
    transition: transform .1s ease-out;
    --translateY: 1em;
}

#tooltip[tooltip-below] {
    --translateY: -1em;
}

#tooltip::after {
    content: '';
    position: absolute;
    --arrow-size: 10px;
    box-sizing: border-box;
    bottom: calc(-1 * var(--arrow-size));
    left: calc(50% - var(--arrow-size));
    width: calc(2 * var(--arrow-size));
    height: calc(2 * var(--arrow-size));
    border-bottom: 1px solid var(--c-border);
    border-right: 1px solid var(--c-border);
    background-image: linear-gradient(135deg, transparent 49%, var(--c-bg) 50%);
    box-shadow: 3px 3px 4px -2px #0003;
    transform: translateX(var(--offsetX, 0)) rotateZ(45deg);
}

#tooltip[tooltip-below]::after {
    bottom: unset;
    top: calc(-1 * var(--arrow-size));
    box-shadow: 1px 1px 3px -2px #0003;
    transform: translateX(var(--offsetX, 0)) rotateZ(-135deg);
}

#tooltip[data-animation="in"] {
    animation: tooltipFadeIn .15s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#tooltip[data-animation="out"] {
    animation: tooltipFadeOut .15s 1 ease-in-out forwards;
}

@keyframes tooltipFadeIn {
    0% { opacity: 0; transform: translateY(var(--translateY)) scaleX(.8); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes tooltipFadeOut {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(var(--translateY)) scaleX(.8); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.carousel {
    display: block;
    position: relative;
    margin-inline: auto;
    border-radius: var(--radius);
    overflow: hidden;
}

.carousel-items {
    display: flex;
    gap: var(--gap, 12px);
    flex-direction: row;
    transition: 0s !important; /* TEMP */
    /* transition: transform .3s ease; */
}

.carousel-items::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    position: relative;
    flex-shrink: 0;
    border-radius: var(--radius);
}

.carousel-item .media-element {
    pointer-events: none;
    user-select: none;
}

.carousel-button.carousel-current-index {
    position: absolute;
    pointer-events: none;
    user-select: none;
    top: unset;
    inset-block-end: .5em;
    font-size: 1em;
    height: 1em;
    line-height: 1;
    padding-block: .25em;
    padding-inline: .5em;
    inset-inline: 0;
    color: var(--c-text-dark);
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
}

.carousel-button {
    background-color: var(--c-bg);
    border-radius: var(--radius);
    position: absolute;
    padding: 0;
    padding-block: 1em;
    font-size: 2em;
    top: calc(50% - 1.5em);
    transition: .1s ease-out;
    opacity: 0;
    z-index: 272;
}

.carousel-button[data-direction]::after {
    content: '';
    position: absolute;
    inset: -.5em;
    z-index: -1;
}

.carousel-button[data-direction="prev"] {
    left: .25em;
}

.carousel-button[data-direction="next"] {
    right: .25em;
}

.carousel:hover .carousel-button {
    opacity: .7;
}

.carousel:hover .carousel-button.carousel-current-index {
    opacity: 1;
}

.carousel-button:focus-visible,
.carousel-button:hover {
    transition: .1s ease-out;
    background-color: var(--c-bg-light);
    color: var(--c-main-text);
    opacity: 1 !important;
}

.model-preview .carousel-item {
    line-height: 0;
}

.model-preview .carousel-item a {
    width: 100%;
    display: block;
    text-decoration: none;
    background-color: var(--c-bg);
    border-radius: var(--radius);
}

.model-preview .carousel-item img {
    color: transparent;
    display: block;
    height: auto;
}

.model-description {
    max-width: 100%;
    width: var(--app-width-small);
    margin: 0 auto;
}

.model-description.hide-long-description {
    max-height: 80em;
    overflow: hidden;
    position: relative;
    margin-block-end: 6em;
}

.model-description.hide-long-description::after {
  content: "";
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  height: 6em;
  background: linear-gradient(to bottom, transparent, var(--c-bg-darker) 5em);
  pointer-events: none;
}

.hide-long-description .show-more {
    position: absolute;
    inset-block-end: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    height: 2em;
    background: none;
    border: none;
    transition: color .1s ease-out;
}

.hide-long-description .show-more:focus-visible,
.hide-long-description .show-more:hover {
    color: var(--c-main-text);
}

/*
 Some descriptions of models are simply impossible to read,
 there can be so much shit there that every word is a completely different color...
*/
.model-version-description span,
.model-description.nuke-all-colors span {
    color: currentColor !important;
}

.model-description a {
    display: inline;
    color: var(--c-main-text);
    text-decoration: none;
}

.model-description a:focus-visible,
.model-description a:hover {
    text-decoration: underline;
}

.model-description a:has(img:only-child) {
    line-height: 0;
    font-size: 0;
}

.model-description a:has(img:only-child)::after {
    display: none;
}

.model-description code {
    max-width: 100%;
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--c-bg-dark);
}

.model-description img,
.model-description video {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    margin-inline: auto;
    margin-block: .5em;
    display: block;
    pointer-events: all;
}

.model-description li > p {
    margin: 0;
}

.model-description p:empty {
    display: none;
}

.model-description > :is(p, ul, h1, h2, h3):first-child {
    margin-block-start: 0;
}

.model-description > :is(p, ul, h1, h2, h3):last-child {
    margin-block-end: 0;
}

.model-description h1,
.model-description h2,
.model-description h3 {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
}

.model-version-description {
    border-radius: var(--radius);
    background-color: var(--c-bg);
    padding: 1em;
    max-width: calc(100% - 2em);
}

.model-version-description .badges {
    font-size: .6em;
}

.model-version-description .model-version {
    margin-block-start: 0;
    display: flex;
}

.model-description .trigger-words {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5em;
    margin-block: .5em;
}

.model-description code.trigger-word {
    padding: .5em;
    font-weight: 500;
    background-color: var(--c-main-bg);
    white-space: pre-line;
}

.model-description code.trigger-word .icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    margin-block: -.25em !important;
    --icon-color-primary: var(--c-text-dark);
    --icon-color-secondary: var(--c-text-darker);
}

.cards-list-container {
    padding: 0 !important;
}

.cards-list {
    padding-block-end: 9em;
    transition: 0s;
    position: relative;
    overflow: visible;
    contain: layout;
    margin-inline: auto;
}

.cards-list #load-no-more,
.cards-list #load-more {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card {
    display: grid;
    position: absolute !important;
    left: 0;
    top: 0;
    text-decoration: none !important;
    color: var(--c-text) !important;
    border-radius: var(--radius);
    overflow: hidden;
    contain: content;
    content-visibility: auto;
    transition: 0s !important;
    /* Force new layer */
    /* transform: translateZ(0); */
}

.card:focus-visible {
    outline: .25em solid var(--c-main) !important;
    outline-offset: -.25em;
}

.card .badge {
    font-weight: 600;
}

.card .badge[data-value="0"] {
    pointer-events: none;
}

.card-background {
    display: block;
    position: unset !important;
    grid-area: 1 / 1;
    width: inherit;
    height: inherit;
    background-color: var(--c-bg);
    border-radius: var(--radius);
    pointer-events: none;
    user-select: none;
    overflow: hidden;
}

.card-background .no-media {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    background-color: var(--c-bg);
    border-radius: var(--radius);
}

.card-content {
    width: inherit;
    height: inherit;
    grid-area: 1 / 1;
    z-index: 1;
    box-sizing: border-box;
    padding: .25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-background .media-element {
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

.video-play-button {
    visibility: visible;
    opacity: 1;
    position: absolute;
    font-size: 6em;
    z-index: 1;
    left: calc(50% - .5em);
    top: calc(50% - .5em);
    border-radius: 50%;
    color: #eee;
    background-color: #0008;
    transform-origin: center center;
    transition: .1s ease-in;
    pointer-events: none;
}

.video-hover-play {
    position: relative;
}

.video-hover-play:hover .loading + .video-play-button,
.video-hover-play:focus-visible .loading + .video-play-button {
    animation: pulse-opacity 1.5s ease-in-out infinite;
}

@keyframes pulse-opacity {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
}

video[data-focus-play]:not(.loading) + .video-play-button {
    visibility: hidden;
    opacity: 0;
}

.loading {
    background-size: 100% 100%;
}

img.loading:not([src]) {
    opacity: 0;
}

.model-type-badges {
    user-select: none;
    height: 2em;
    box-sizing: border-box;
}

.model-type-badges .badge {
    display: inline;
}

.model-type-badges .badge.model-availability {
    font-weight: 700;
}

.badge[data-badge="EarlyAccess"],
.model-type-badges .model-availability[data-availability="EarlyAccess"] {
    background-color: var(--c-modelEarlyAccess) !important;
}

.badge[data-badge="New"],
.model-type-badges .model-availability[data-availability="New"] {
    background-color: var(--c-modelNew) !important;
}

.badge[data-badge="Updated"],
.model-type-badges .model-availability[data-availability="Updated"] {
    background-color: var(--c-modelUpdated) !important;
}

.badge[data-badge] {
    --icon-color-secondary: currentColor;
}

.model-card .model-name {
    width: 100%;
    font-size: 1.25em;
    font-weight: 700;
    max-height: 3em;
    line-height: 1.5em;
    overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    grid-row: 3;
    margin: 0;
    pointer-events: none;
    user-select: none;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: -moz-fit-content;
    width: fit-content;
    gap: .5em;
    font-weight: 500;
}

.user-info .no-media,
.user-info img {
    width: 48px;
    height: 48px;
    font-size: 24px;
    border-radius: var(--radius);
    margin: 0;
    pointer-events: none;
}

.user-info .no-media {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    background-color: var(--c-bg-darker);
}

.user-info a {
    color: var(--c-text);
}

.card .model-name,
.card .user-info span {
    --c-shadow: #0008;
    color: #fff;
    text-shadow: -1px -1px 0 var(--c-shadow), 1px -1px 0 var(--c-shadow), -1px  1px 0 var(--c-shadow), 1px  1px 0 var(--c-shadow);
}

.image-card .badges {
    gap: .15em;
    justify-content: center;
}

.image-card .badge {
    padding: .25em;
}

.image-card .card-content {
    visibility: hidden;
    opacity: 0;
    transition: opacity .1s ease-in, visibility 0s .1s linear;
}

.image-card:focus-visible .card-content,
.image-card:hover .card-content {
    transition: opacity .1s ease-out, visibility 0s linear;
    visibility: visible;
    opacity: 1;
}

.image-card .image-nsfw-level {
    padding-block: .25em;
    padding-inline: .5em;
}

.image-card .card-content-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.image-card .user-info {
    display: block;
}

.image-card .user-info span {
    display: block;
}

.image-card .image-created-time {
    --c-shadow: #0008;
    color: #a9a9a9;
    text-shadow: -1px -1px 0 var(--c-shadow), 1px -1px 0 var(--c-shadow), -1px  1px 0 var(--c-shadow), 1px  1px 0 var(--c-shadow);
}

.full-image-page {
    width: -moz-fit-content;
    width: fit-content;
    gap: 1em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 800px 500px;
    justify-content: center;
    justify-items: end;
    align-items: start;
}

.media-full-preview {
    width: 100%;
    max-width: 100%;
    position: relative;
    isolation: isolate;
}

.media-full-preview .media-container {
    max-width: 100%;
    display: block;
}

.media-full-preview img,
.media-full-preview video {
    pointer-events: all !important;
    user-select: unset !important;
}

.full-image-page .carousel-item .media-full-preview {
    margin-inline: auto;
    max-width: 100%;
}

.full-image-page .carousel {
    background-color: var(--c-bg);
    margin: 0;
}

.media-preview-wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    user-select: none;
}

.media-preview-image {
    width: 100%;
    height: 100%;
}

.media-loading-indicator {
    position: absolute;
    inset-block-start: 1em;
    inset-inline-end: 1em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    opacity: 1;
    transition: 0s;
    border: 2px solid transparent;
    border-left: 2px solid #999;
    border-bottom: 2px solid #999;
    animation: loading-indicator .72s ease infinite;
}

@keyframes loading-indicator {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
}

.media-full-meta {
    background-color: var(--c-bg-dark);
    border-radius: var(--radius);
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    height: -moz-fit-content;
    height: fit-content;
}

.media-full-meta,
.generation-info,
.meta-resources {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.meta-baseModel {
    padding: 1em;
    width: -moz-fit-content;
    width: fit-content;
}

.meta-resources h3 {
    margin: 0;
    position: relative;
}

.meta-resources.meta-resources-loading h3::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 1.5em;
    height: 1.5em;
    margin-block: -.25em;
    inset-inline-start: -.25em;
    border-radius: 50%;
    transition: 0s;
    pointer-events: none;
    border: 2px solid transparent;
    border-left: 2px solid #999;
    border-bottom: 2px solid #999;
    animation: loading-indicator .72s ease infinite;
}

.meta-resource {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .5em;
    padding: .25em;
    border-radius: var(--radius);
    position: relative;
    text-decoration: none !important;
}

.meta-resource-loading {
    opacity: .4;
}

.meta-resource-type,
.meta-resource-weight {
    margin-inline-start: .5em;
    background-color: var(--c-bg-lighter);
    border-radius: max(.25em, calc(var(--radius) - .25em));
    padding-inline: .25em;
    height: 1.5em;
    line-height: 1.5em;
}

.meta-resource-weight[lilpipe-text]::after {
    content: '*';
    color: var(--c-main-text);
}

.meta-resource-weight[data-weight="=0"] {
    opacity: .4;
}

.meta-resource-name {
    display: inline;
    color: var(--c-text-dark);
}

.meta-resource-name strong {
    font-family: monospace;
    font-size: .8em;
    color: var(--c-text-dark);
}

a[href].meta-resource .meta-resource-name {
    color: var(--c-text);
    font-weight: 600;
}

a[href].meta-resource:focus-visible .meta-resource-name strong,
a[href].meta-resource:hover .meta-resource-name strong,
a[href].meta-resource:focus-visible .meta-resource-name,
a[href].meta-resource:hover .meta-resource-name {
    color: var(--c-main-text);
}

.meta-other {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}

.meta-other .meta-other-item {
    color: var(--c-text-dark);
    padding: .5em;
}

.meta-other .meta-other-item[lilpipe-text]::after {
    content: '*';
    color: var(--c-main-text);
}

.meta-other .meta-other-item .meta-value {
    color: var(--c-text);
}

#tooltip.tooltip-meta-adetailer {
    max-width: 500px;
    padding: 0;
}

.meta-other code.copy {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .5em;
}

.meta-other code.copy:focus-visible,
.meta-other code.copy:hover {
    background-color: var(--c-bg-lighter);
}

code.prompt {
    padding: 1em;
    white-space: pre-line;
    display: block;
    max-width: 100%;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
}

code.prompt span {
    border-radius: .25em;
    box-decoration-break: clone;
}

code.prompt .keyword    { color: #e67e22; font-weight: bold; }
code.prompt .weight     { color: var(--c-bracket, var(--c-text-darker)); }
code.prompt .bracket    { color: var(--c-bracket, var(--c-text-darker)); }
code.prompt .lora       { color: #16a085; font-style: italic; }
code.prompt .link       { text-decoration: underline; }

code.prompt .weight-container:hover {
    background-image: linear-gradient(to top, var(--c-bracket, var(--c-text-darker)) 2px, transparent 2px);
}

code.prompt .link::after {
    display: none;
}

code.prompt .trigger    {
    color: #6ab04c; font-style: italic;
    transition: .1s ease-in;
    outline: .25em solid transparent;
}

code.prompt .trigger[lilpipe-showed] {
    transition: .1s ease-out;
    outline: .25em solid var(--c-main-text);
}

code.prompt::before {
    content: '';
    position: absolute;
    left: 0;
    top: var(--radius);
    bottom: var(--radius);
    width: 4px;
    border-radius: 4px;
    background-color: var(--c-border-active);
}

code.prompt-negative::before {
    background-color: var(--c-error-alt);
}

code.prompt-positive::before {
    background-color: var(--c-success-alt);
}

#load-no-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    line-height: 1;
    color: var(--c-text-dark);
    pointer-events: none;
    user-select: none;
}

#load-no-more .icon {
    font-size: 3em;
}

#load-no-more span {
    transform-origin: center center;
    animation: popInFromUFO 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
}

@keyframes popInFromUFO {
    0% { transform: translateY(-100%) scaleX(.5); opacity: 0; }
    50% { transform: translateY(-100%) scaleX(.5); opacity: 0; }
    100% { transform: translateY(0) scaleX(1); opacity: 1; }
}

#load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    color: var(--c-text-dark);
}

#load-more .icon {
    stroke-dasharray: 42 6;
    animation: load-more-icon 1.5s ease-in-out infinite;
}

@keyframes load-more-icon {
    0% { stroke-dashoffset: 0; }
    60% { stroke-dashoffset: 48; }
    100% { stroke-dashoffset: 48; }
}

.model-page {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.model-name {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    position: relative;
}

.model-name h1 {
    margin: 0;
}

.model-name .badges {
    font-size: .5em;
}

.model-name .badge {
    background-color: var(--c-bg-dark);
}

.model-download-files {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}

.model-download-files .link-button {
    background-color: var(--c-main-bg);
    font-weight: 600;
}

.model-download-files .link-warning {
    --icon-color-secondary: var(--c-warning);
    background-color: var(--c-warning-alt);
}

.model-download-files .link-warning:hover,
.model-download-files .link-warning:focus {
    background-color: var(--c-error-alt);
    color: var(--c-text-light);
}

.badges,
.model-sub-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: .25em;
}

.model-sub-name {
    flex-wrap: nowrap;
}

.model-versions .badge {
    display: inline;
}

.model-version-description .model-version span strong,
.model-versions .badge:not(.active):not(:hover):not(:focus-visible) strong {
    color: var(--c-text-light);
}

.model-version-description .model-version span em,
.model-versions .badge:not(.active):not(:hover):not(:focus-visible) em {
    color: var(--c-text-dark);
}

.model-updated-time {
    text-wrap: nowrap;
}

.model-tags {
    border-inline-start: 1px solid var(--c-border);
    padding-inline-start: .25em;
}

.model-tags div.badge {
    color: var(--c-text-dark);
    background-color: var(--c-bg-dark);
}

.badge {
    cursor: default;
    user-select: none;
    font-weight: 400;
    line-height: 1;
    background-color: var(--c-bg-light);
    border-radius: var(--radius);
    padding: .5em;
    gap: .5ch;
    text-decoration: none;
}

a.badge[href] {
    cursor: pointer;
}

.link-button .icon,
.badge .icon {
    pointer-events: none;
}

a.badge:focus-visible,
a.badge:hover {
    background-color: var(--c-bg-dark);
}

.badge[data-value="0"] {
    color: var(--c-text-darker);
    background-color: var(--c-bg-dark);
}

.badge.image-nsfw-level {
    font-weight: 600;
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--c-nsfw-level);
}

.badge.image-nsfw-level[data-nsfw-level="Soft"] {
    --c-nsfw-level: var(--c-nsfw-soft);
}

.badge.image-nsfw-level[data-nsfw-level="Mature"] {
    --c-nsfw-level: var(--c-nsfw-mature);
}

.badge.image-nsfw-level[data-nsfw-level="X"] {
    --c-nsfw-level: var(--c-nsfw-x);
}

.badge.image-nsfw-level[data-nsfw-level="XXX"] {
    --c-nsfw-level: var(--c-nsfw-xxx);
}

.model-versions .badge.active {
    background-color: var(--c-bg-lighter);
    color: var(--c-main-text);
    position: relative;
}

.model-versions .badge.active::before {
    content: '';
    position: absolute;
    inset-inline: var(--radius);
    inset-block-end: 0;
    height: 4px;
    border-radius: 2px;
    background-color: var(--c-main);
}

.link-button {
    padding-block: .5em;
    padding-inline: 1em;
    border-radius: var(--radius);
    background-color: var(--c-bg-light);
    text-decoration: none;
    gap: .25em;
}

.link-button:focus-visible,
.link-button:hover {
    background-color: var(--c-bg-lighter);
}

.link-button::after {
    display: none !important;
}

.link-open-civitai {
    display: flex;
    margin: 1em auto;
}

a.link-button.link-open-civitai::after {
    display: block !important;
    transform: none;
    font-size: 1em;
    margin: 0;
}

.config {
    isolation: isolate;
    position: relative;
    border-radius: var(--radius);
    padding: .5em;
}

.config:focus-visible,
.config:hover {
    z-index: 2;
}

.config-boolean {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: .5ch;
    cursor: pointer;
}

.config-boolean label {
    cursor: pointer;
    line-height: 1;
}

.switch {
    width: 2em;
    position: relative;
}

.switch .switch-background {
    position: absolute;
    width: 2em;
    background-color: var(--c-text);
    height: 1em;
    opacity: .3;
    z-index: -1;
    border-radius: var(--radius);
}

.switch .switch-button {
    width: .8em;
    height: .8em;
    margin: .1em;
    border-radius: var(--radius);
    background-color: var(--c-text);
    transition: .1s ease-out;
}

.switch[data-value="true"] .switch-button {
    margin-inline-start: 1.1em;
}

.switch[data-value="true"] .switch-background {
    background-color: var(--c-main);
    opacity: .8;
}

.list-selected {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: .5ch;
    line-height: 1em;
    cursor: pointer;
    border-radius: var(--radius);
    color: var(--c-text-darker);
}

.list-selected span {
    color: var(--c-text);
}

.list-selected .icon[icon-id="arrow_down"] {
    transition: .2s ease-in-out;
}

.list-selected.list-visible .icon[icon-id="arrow_down"] {
    transform: rotateZ(180deg);
}

.list-options {
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50% 2px;
    max-height: 20em;
    padding: 8px;
    padding-inline-end: 4px;
    min-width: 100%;
    overflow-y: scroll;
    z-index: 9999;
    background-color: var(--c-bg);
    visibility: hidden;
    text-align: left;
    height: 0;
    border-radius: var(--radius);
    cursor: default;
}

.list-options::-webkit-scrollbar {
    width: 4px;
    border-radius: 2px;
}

.list-options.list-visible {
    visibility: visible;
    height: auto;
}

.list-option {
    margin-block: 1px;
    line-height: 1em;
    padding-block: .5em;
    padding-inline: 1em;
    cursor: pointer;
    white-space: nowrap;
    border-radius: var(--radius);
}

.list-option mark {
    color: var(--c-text);
    background-color: var(--c-main50);
    border-radius: 2px;
    box-decoration-break: clone;
}

.list-option .config-badge {
    display: inline-block;
    vertical-align: text-top;
    margin-inline-start: 1ch;
}

.list-option.option-focus {
    outline: 1px solid var(--c-main-text);
}

.list-option.option-focus,
.list-option:hover {
    background-color: var(--c-bg-darker);
}

.list-option.option-selected {
    color: var(--c-main-text);
    background-color: var(--c-bg-lighter);
    position: relative;
}

.list-option.option-selected::before {
    content: '';
    position: absolute;
    inset-inline-start: 0;
    inset-block: var(--radius);
    width: 4px;
    border-radius: 2px;
    background-color: var(--c-main);
}

.config-string {
    padding: 0;
    width: -moz-fit-content;
    width: fit-content;
}

.string-input,
.textarea-input {
    background-color: var(--c-bg);
    outline: none;
    color: var(--c-text);
    padding: .6em;
    box-sizing: border-box;
    width: 100%;
    max-width: 50em;
}

.textarea-input::-webkit-input-placeholder,
.string-input::-webkit-input-placeholder {
    color: var(--c-text);
    opacity: .5;
}

.textarea-input {
    resize: vertical;
    line-height: 1.2em;
    min-width: 30em;
    min-height: 7.2em;
    max-height: 19.2em;
    height: calc(var(--lines, 1)*1.2em);
}

.string-input:focus {
    background-color: var(--c-bg-light);
}

.config-string .invisible-string {
    visibility: hidden !important;
    text-wrap: nowrap;
    white-space: pre;
    box-sizing: border-box;
    height: 0 !important;
    padding-block: 0 !important;
    margin-block: 0 !important;
    line-height: 0 !important;
    grid-row: 2 !important;
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
    margin: 0;
    opacity: 0;
    max-width: 50em;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll-page-to-top {
    position: fixed;
    visibility: hidden;
    font-size: 1.5em;
    inset-block-end: 1em;
    inset-inline-end: 1em;
    padding: .5em;
    border-radius: var(--radius);
    opacity: 0;
}

.page-scrolled .scroll-page-to-top {
    visibility: visible;
}

.scroll-page-to-top::after {
    content: '';
    position: absolute;
    inset: -1em;
}

.scroll-page-to-top:hover,
.scroll-page-to-top:focus-visible {
    opacity: 1;
}

.bib-entry {
    position: relative;
    background-color: var(--c-bg-light);
    margin-block: 1em;
    padding: 1em;
    border-radius: var(--radius);
    white-space: normal;
}

.bib-entry::before {
    content: '';
    position: absolute;
    inset-inline-start: 0;
    inset-block: var(--radius);
    width: 4px;
    border-radius: 2px;
    background-color: var(--c-main-bg);
}

.list-filter-dropdown:not(.closed) {
    background-color: var(--c-bg-lighter);
    z-index: 2;
}

.list-filter-dropdown.closed .list-filter-dropdown-container {
    display: none;
}

.list-filter-dropdown .list-filter-dropdown-container {
    position: absolute;
    display: flex;
    cursor: default;
    flex-direction: column;
    gap: .5em;
    padding: .5em;
    background-color: var(--c-bg);
    border-radius: var(--radius);
}


.list-filter-dropdown .list-filter-dropdown-container::after {
    pointer-events: none;
    content: '';
    position: absolute;
    --arrow-size: 10px;
    box-sizing: border-box;
    left: calc(50% - var(--arrow-size));
    width: calc(2 * var(--arrow-size));
    height: calc(2 * var(--arrow-size));
    background-image: linear-gradient(135deg, transparent 49%, var(--c-bg) 50%);
    bottom: unset;
    top: calc(-1 * var(--arrow-size));
    box-shadow: 1px 1px 3px -2px #0003;
    transform: translateX(var(--offsetX, 0)) rotateZ(-135deg);
}

.list-filter-dropdown .list-filter-dropdown-container .list-filter {
    justify-content: space-between;
}

@media screen and (max-width: 650px) {
    header {
        margin-block-start: 0;
        margin-block-end: .25em;
    }

    footer {
        gap: .5em;
        font-size: .8em;
    }

    nav ul.menu {
        gap: .25em;
        flex-wrap: wrap;
    }

    .full-image-page {
        grid-template-columns: 1fr;
    }

    .media-full-preview {
        max-width: 100vw;
    }
}
